name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-3

      - name: Checkout
        uses: actions/checkout@v2

      - name: Update file hash on Lambda Environment
        run: |
          INSTALL_FILE_HASH=$(sha256sum install | cut -d ' ' -f 1)
          aws lambda update-function-configuration --function-name ${{ secrets.LAMBDA_FUNCTION_NAME }} --environment "Variables={INSTALL_FILE_HASH=$INSTALL_FILE_HASH, BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}, BUCKET_KEY=${{ secrets.BUCKET_KEY }}}"

      - name: Upload Install file to S3
        run: |
          aws s3 cp install ${{ secrets.S3_URI }}/install --cache-control "max-age=0"
